<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Chat Bot</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #2196f3;
        color: white;
        padding: 20px;
        text-align: center;
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Chat Bot API</h1>
    </header>

    <div class="container">
      <h2>About</h2>
      <p>
        This chat bot api is created with python tensorflow neural network to
        provide an accurate response in a specific field based on an intents
        json file that is fully customisable
      </p>
    </div>

    <div class="container">
      <h2>Usage</h2>
      <p>http://localhost:8000/api?prompt=hello bot</p>
    </div>
  </body>
</html>
